<h2>Fotoğraf Yükle</h2>
<form method="post" enctype="multipart/form-data" action="/Foto/Yukle">
    <label for="Foto">Fotoğraf Seç:</label>
    <input type="file" name="Foto" id="Foto" />
    <button type="submit">Yükle</button>
</form>
