@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="custom-hero-section">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Metin Bölümü -->
        <div class="hero-text">
            <h1>Kuaför Yönetim Sistemi</h1>
            <p class="lead">
                İşletmenizi modernize edin! Salonlarınızı, çalışanlarınızı ve randevularınızı düzenleyin.
            </p>
            <p>
                Kuaförünüz için en iyi yönetim çözümü burada. Sistemimiz ile iş akışınızı optimize edin, zamandan tasarruf edin ve müşteri memnuniyetini artırın!
            </p>
            <a asp-controller="Salon" asp-action="Index" class="btn btn-primary mt-4">Şimdi Başlayın</a>
        </div>
        <!-- Görsel Bölümü -->
        <div class="hero-image">
            <img src="/images/pngwing.com.png" alt="Kuaför Logo" class="img-fluid">
        </div>
    </div>
</div>
