@model KuaforDbSistemi.Models.Salon



<h2 class="text-center mb-4">Salon Düzenle</h2>
<div class="container">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <label for="Isim">Salon İsmi</label>
            <input asp-for="Isim" class="form-control" id="Isim" required />
        </div>
        <div class="form-group mb-3">
            <label for="Adres">Adres</label>
            <input asp-for="Adres" class="form-control" id="Adres" required />
        </div>
        <div class="form-group mb-3">
            <label for="CalismaSaatleri">Çalışma Saatleri</label>
            <input asp-for="CalismaSaatleri" class="form-control" id="CalismaSaatleri" required />
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </form>
</div>
