<div class="container mt-5 text-center">
    <h1 class="fw-bold" style="color: #6a11cb;">Yapay Zeka Önerileri</h1>
    <p class="fs-5 text-muted mt-3">Saç modelleri veya renk önerileri almak için fotoğrafınızı yükleyin.</p>
    <form enctype="multipart/form-data" method="post" action="/AI/Analyze">
        <input type="file" name="image" class="form-control mt-4" required>
        <button type="submit" class="btn btn-primary btn-lg mt-3 shadow" style="background: linear-gradient(to right, #43cea2, #185a9d);">Gönder</button>
    </form>
</div>
